##### 빅데이터 실습

### 스타벅스매장 입지 분석

#### 데이터 수집

##### 웹사이트 제공 엑셀파일 수정

In [1]:
# 필수 라이브러리 사용등록
import pandas as pd
import numpy as np

In [3]:
dfSeoulManicipality = pd.read_excel('./data/전국_시군구_위경도.xlsx')
dfSeoulManicipality.tail()

      docity  do   city   longitude   latitude
290    충청충주시  충청    충주시  127.928144  36.988181
291    충청태안군  충청    태안군  126.299975  36.742667
292  충청한누리대로  충청  한누리대로  127.289926  36.485450
293    충청홍성군  충청    홍성군  126.662908  36.598361
294    충청대전시  충청    대전시  127.384862  36.350630

In [5]:
# 서울만 필터링
condition = dfSeoulManicipality['do'] == '서울'
dfSeoulGeo = dfSeoulManicipality[condition]

In [6]:
dfSeoulGeo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 138 to 162
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   docity     25 non-null     object
 1   do         25 non-null     object
 2   city       25 non-null     object
 3   longitude  25 non-null     float64
 4   latitude   25 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.2+ KB

In [7]:
# 필요로 만든 데이터는 항상 저장해둘 것
dfSeoulGeo.to_excel('./data/수정_서울_시군구_위경도.xlsx', index=False)

In [17]:
# 서울시 구별 인구데이터 로드
columns = ['구', '세대소계', '성별소계' , '남자', '여자', '한국인소계', '남자', '여자', '등록외국인소계', '남자', '여자', '세대당인구', '65세이상']
dfSeoulPop = pd.read_excel('data/서울시_구별_인구데이터.xlsx', header=2, usecols = 'B,O:Z')
dfSeoulPop.columns = columns
dfSeoulPop.tail()

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,구,세대소계,성별소계,남자,여자,한국인소계,남자,여자,등록외국인소계,남자,여자,세대당인구,65세이상
21,관악구,284578,497883,249026,248857,481956,242651,239305,15927,6375,9552,1.69,85418
22,서초구,169884,412078,196391,215687,407664,194291,213373,4414,2100,2314,2.40,65661
23,강남구,239775,550282,262991,287291,544873,260520,284353,5409,2471,2938,2.27,86606
24,송파구,285927,660025,316981,343044,654166,314347,339819,5859,2634,3225,2.29,108894
25,강동구,203734,463318,226237,237081,459167,224423,234744,4151,1814,2337,2.25,82984

In [20]:
## 서울시 인구데이터 저장
dfSeoulPop.to_excel('./data/수정_서울_구별인구.xlsx', index=False)

In [21]:
## 서울시 구별 사업체현황 로드
dfSeoulWork = pd.read_excel('./data/서울시_구별_사업체현황.xlsx')
dfSeoulWork

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,동별(1),동별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,...,2021.33,2021.34,2021.35,2021.36,2021.37,2021.38,2021.39,2021.40,2021.41,2021.42
0,동별(1),동별(2),합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,동별(1),동별(2),소계,소계,소계,소계,소계,농업 임업 및 어업,농업 임업 및 어업,광업,...,공공행정 국방 및 사회보장 행정,공공행정 국방 및 사회보장 행정,교육 서비스업,교육 서비스업,보건업 및 사회복지 서비스업,보건업 및 사회복지 서비스업,예술 스포츠 및 여가관련 서비스업,예술 스포츠 및 여가관련 서비스업,협회 및 단체 수리 및 기타 개인 서비스업,협회 및 단체 수리 및 기타 개인 서비스업
2,동별(1),동별(2),사업체수 (개),사업체수 (개),종사자수 (명),종사자수 (명),종사자수 (명),사업체수 (개),종사자수 (명),사업체수 (개),...,사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명)
3,동별(1),동별(2),소계,여성대표자,소계,남,여,소계,소계,소계,...,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계
4,합계,소계,1188091,407948,5771226,3218529,2552697,154,753,25,...,1303,155790,46855,361663,31866,450396,28722,88491,77887,186496
5,NaN,종로구,48361,16563,275063,153210,121853,4,21,4,...,100,17436,1082,13298,830,19143,1141,5650,2591,7297
6,NaN,중구,70308,25794,386564,213782,172782,1,1,2,...,65,16141,644,9425,813,11585,632,3258,2175,7632
7,NaN,용산구,29680,10454,152605,84314,68291,4,8,-,...,45,3416,844,7352,632,8219,651,3006,1866,5572
8,NaN,성동구,41665,13447,203221,116978,86243,7,15,1,...,45,5243,1283,10453,815,9635,844,2956,2341,7334
9,NaN,광진구,33706,12297,129707,71124,58583,3,4,-,...,38,3592,1467,14698,981,12785,1139,3202,2799,5121
10,NaN,동대문구,42813,14480,146383,78105,68278,2,4,1,...,49,4023,1288,16173,1085,17183,889,2282,2790,4906
11,NaN,중랑구,39310,13471,113144,59221,53923,-,-,2,...,47,4108,1151,7668,1111,14806,1029,2273,3099,4937
12,NaN,성북구,34712,13393,124004,60275,63729,1,3,-,...,49,4607,1806,21226,1131,16668,1043,2444,2931,5502
13,NaN,강북구,26385,9807,80222,38440,41782,1,1,-,...,42,3530,890,6164,867,11540,869,1885,2508,4270
14,NaN,도봉구,25391,8886,79097,41600,37497,2,4,-,...,37,4256,1114,7191,859,12804,738,1594,2264,4184
15,NaN,노원구,37909,14092,133398,63208,70190,5,22,-,...,40,4047,2573,20726,1515,21536,1131,3043,3105,5566
16,NaN,은평구,36509,14446,109031,51769,57262,4,12,-,...,54,5872,1847,10749,1322,18824,1027,2266,3312,5767
17,NaN,서대문구,28522,10787,118256,58797,59459,1,2,-,...,44,6013,1405,19646,875,15584,742,1797,2328,4963
18,NaN,마포구,56782,19865,279788,152822,126966,6,11,2,...,60,5969,2462,16804,1339,13243,1505,4327,3610,9838
19,NaN,양천구,37929,14039,133776,70222,63554,1,2,1,...,47,5524,2900,15309,1293,17154,1070,2799,3098,6185
20,NaN,강서구,58806,19887,290473,164478,125995,5,44,-,...,61,5236,2505,14779,1735,24758,1479,4024,4413,10461
21,NaN,구로구,52791,16161,240689,140067,100622,6,18,-,...,46,5153,1613,11771,1258,18241,1047,2527,2968,6714
22,NaN,금천구,47964,13700,255449,158019,97430,1,2,-,...,31,2368,937,6810,763,8866,697,1478,2241,5575
23,NaN,영등포구,74562,22629,435017,253173,181844,9,17,2,...,70,9379,1717,9441,1345,19680,1395,4228,3549,11998
24,NaN,동작구,27915,10964,109281,54637,54644,4,6,-,...,41,4213,1615,13728,1110,16024,916,2052,2484,5093
25,NaN,관악구,37915,13641,128417,68392,60025,2,18,1,...,50,3809,1596,17130,1257,16081,1286,2954,3404,6247
26,NaN,서초구,71958,23066,487976,290084,197892,19,86,1,...,69,12994,3451,26294,1930,24825,1752,6911,3810,12609
27,NaN,강남구,110007,35453,801419,447809,353610,27,137,6,...,58,7471,5459,34053,3522,47080,2579,11059,5984,21981
28,NaN,송파구,74531,25400,400781,244588,156193,26,241,1,...,70,8333,3146,19154,2055,30552,2026,7881,4830,10574
29,NaN,강동구,41660,15226,157465,83415,74050,13,74,1,...,45,3057,2060,11621,1423,23580,1095,2595,3387,6170

In [23]:
## 서울시 구별 사업체현황 로드
dfSeoulWork = pd.read_excel('./data/서울시_구별_사업체현황.xlsx', header=4, usecols='B:G')
dfSeoulWork
columns = ['구','소계','여성대표자','성별소계','남자','여자']
dfSeoulWork.columns = columns

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [24]:
## 서울시 구별 사업체현황 저장
dfSeoulWork.to_excel('./data/수정_서울_구별사업체.xlsx',index=False)